body{
    height: 100vh;
    background-image: linear-gradient(rgb(153, 121, 121), rgb(75, 73, 175));
}

.logo {
    display: block;
    margin: auto;
    height: 60px;
    width: 80px;
}

h1 {
    margin-top: 12px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.container {
    margin: auto;
    max-width: 600px;
    background-color: lightblue;
    height: 75vh;
    margin-top: 10px;
    overflow-y: auto;
}

.message {
    background-color: rgb(177, 169, 169);
    width: 40%;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid black;
}

.left {
    float: left;
    margin-left: 20px;
    clear: both;
    border-radius: 20px 0px; 
}

.right {
    float: right;
    margin-right: 20px;
    clear: both;
    border-radius: 0px 20px; 
}

#send-container {
    display: block;
    margin: auto;
    text-align: center;
    max-width: 600px;
    width: 100%;
}

#messageInp {
    width: 80%;
    height: 40px;
    float: left;
    border-radius: 5px;
    margin-top: 5px;
}

#send {
    width: 18%;
    height: 45px;
    float: right;
    background-color: rgb(4, 103, 165);
    border-radius: 5px;
    margin-top: 5px;
}
